

.container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
}

.section {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.row-titulo {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 16px;
  font-size: 1.6em;

}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 1.6em;
  background: rgba(250, 250, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  --bs-gutter-x: 0 !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: auto;
}
.row>* {
  width: auto !important;
}


.row-campos {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 1.6em;
  background: rgba(250, 250, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 704.15px;
  left: 110px;
  padding: 16px;
  

  

}

.column2 {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.7em;
  text-transform: uppercase;
}
p{
  font-size: 1.2em;
}

.red-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.thumbnail-container img {
  max-width: 100%;
  height: auto;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.text-container {
  text-align: left;
}

.text-container p {
  margin: 5px 0;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-licencia{
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

}

.div-group{
  display: flex;
  align-items: center;
}

.precio{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;

}

.div-detalle-producto{
  display: flex;
  align-items: center;
}

.div-detalle{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 272px;
}

.detalle{
  width: 340px;
}

.div-titulo{

  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}

.div-cantidad{
  width: 70.48px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(201, 201, 201, 1);
}

.summary-box {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 10px;
}

.summary-title {
  float: right;
  margin-right: 10px; /* Ajusta según sea necesario */
  text-align: right;
  padding: 1px;
  font-size: 2.5em;
  display: inline-flex;
  padding-bottom: 8px;
  align-items: center;
  gap: 1px;
  border-bottom: 5px solid #F33;
}


.summary-list {
  float: right;
  margin-right: 5px;
  display: flex;
  width: 572px;
  height: 197px;
  position: inherit;
  padding: 24px;
  border-radius: 10px;
  background: rgba(250, 250, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: space-between;
}

.numero{
  color: rgba(116, 116, 116, 1);

}

.items-resumen{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.text-resumen{
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.div-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.summary-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2em;
  text-align: left; /* O el alineamiento que desees */
}

.summary-line2{
  border-bottom: none;
  width: 100%;
}

.summary-line {
  border-bottom: 1px solid rgba(255, 51, 51, 1);
  width: 100%;
}

.summary-button {
  float: right;
  margin-right: 0px; /* Ajusta según sea necesario */
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 10px;
  width: 572px;
  background: rgba(255, 51, 51, 1);
 

}


.summary-button:hover {
  color: rgba(255, 51, 51, 1);
  background-color:rgb(230, 221, 221);
}

.container-button {
  display: flex;
  align-items:self-end;
  flex-direction: column;
  float: right;
  margin-right: 5px; /* Ajusta según sea necesario */
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

}


/* Media queries para dispositivos más pequeños */
@media only screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }

  .thumbnail-container img {
    margin-right: 0; /* Eliminar el espacio entre la imagen y el texto en dispositivos pequeños */
  }

  .summary-box {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    
  }
}



/* Media query para pantallas más pequeñas, como tablets y móviles */
@media (max-width: 768px) {
  .container {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
  }

  .column {
      width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  
}

.quantity-button {
  margin: 0 1px; /* Espaciado entre los botones y la cantidad */
  width: 2em;
  height: 1.5em;
  background-color: rgba(234, 15, 15, 0.783);
  color: white;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  border: none;
  border-radius: 3px;
  margin-top: 1px; /* Espaciado entre los botones */
  display: flex; /* Hace que los botones ocupen todo el ancho disponible */
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;  
}


.quantity-button:hover {
  color: rgba(234, 15, 15, 0.783);
  background-color:rgb(230, 221, 221);
}



.column {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
}


.quantity-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

