<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home  |  Funkoshop</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
        <link rel="stylesheet" href="./CSS/reset.css">
        <link rel="stylesheet" href="./CSS/index.css">
        <link rel="stylesheet" href="./CSS/header.css">
        <link rel="stylesheet" href="./CSS/contacto.css">
        <link rel="stylesheet" href="./CSS/footer.css">
        
    </head>
<body>  
    <%- include('../views/partials/header')%>

        <div class="contacto-container">
            <h1>Contacto</h1>
            <p>¡Bienvenido a nuestra página de contacto!</p>

            <form action="/enviar-mensaje" method="post">
                <!-- Agrega aquí tus campos de formulario -->
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" required>

                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required></textarea>

                <button type="submit">Enviar mensaje</button>
            </form>
        </div>

    <%- include('../views/partials/footer')%>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>