
      
    <footer>
        <div class="lista-footer">
        <ul>
            <li><a href="/productos">SHOP</a></li>
            <li><a href="/registrarse">REGISTRARSE</a></li>
            <li><a href="/ingresar">INGRESAR</a></li>
            <li><a href="/contacto">CONTACTO</a></li>
        </ul>
        <img src="../img/branding/isotype.svg" alt="Logo"/>
    </div>
    <p class="p">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>     
 