<!-- En tu archivo de plantilla EJS (header.ejs) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home  |  Funkoshop</title>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...tu-código-de-integridad..." crossorigin="anonymous" />
    <script src="../../public/js/header.js"></script>
</head>        
<body>
    <header>
        <nav class="navbar">
            <picture class="navbar__logo">
                <a href="/">
                    <img src="../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkoshop">
                </a>
            </picture>
            <ul class="navbar__menu">
                

                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="/shop">SHOP<iconify-icon icon="carbon:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li>
           
                <li>    
                    <a class="navbar__link" href="/contacto">CONTACTO</a>    
                </li class="navbar__item">
                <li class="navbar__item">
                    <% if (loggedIn) { %>
                      <form action="/logout" method="POST">
                        <button type="submit" class="navbar__link" style="background-color: transparent; border: none; color: white; cursor: pointer;">LOGOUT</button>
                      </form>
                      <li>
                        <p style="text-transform: uppercase; ">
                          <i class="fas fa-user fa-lg text-primary mr-2" style="vertical-align: baseline;"></i>
                          <span class="navbar__link text-primary font-size-lg" style="font-size: 1em;"><%= email.split('@')[0] %></span>
                        </p>
                      </li>
                    
                    <% } else { %>
                        <a class="navbar__link" href="/login">LOGIN</a>
                        <!-- Agrega la opción de "Registrarse" cuando estás en la página de login -->
                        <a class="navbar__link" href="/register">REGISTRARSE</a>
                    <% } %>
                </li>

                <li class="navbar__item">
                    <% if (loggedIn) { %>
                        <a class="navbar__cart" href="/carrito-elementos">
                            <img src="/img/icons/cart-icon.svg" alt="ícono de carrito">
                        </a>
                    <% } else { %>    
                        <button type="button" class="navbar__link" id="cartLink" onclick="mostrarAlerta()" style="vertical-align: baseline; background-color: transparent; border: none; color: white; cursor: pointer;">
                            <img src="../img/icons/cart-icon.svg" class="img-carrito" alt="ícono de carrito">
                        </button>
                    <% } %>    
                
                </li>
                
            </ul>
        </nav>
        
    </header>
    <script src="../../public/js/header.js"></script>
</body>